.color_0 {
    color: #FFFFFF;
}

.backcolor_0 {
    background-color: #FFFFFF;
}

.color_1 {
    color: #000000;
}

.backcolor_1 {
    background-color: #000000;
}

.color_2 {
    color: #FFFFFF;
}

.backcolor_2 {
    background-color: #FFFFFF;
}

.color_3 {
    color: #ED1C24;
}

.backcolor_3 {
    background-color: #ED1C24;
}

.color_4 {
    color: #0088CB;
}

.backcolor_4 {
    background-color: #0088CB;
}

.color_5 {
    color: #FFCB05;
}

.backcolor_5 {
    background-color: #FFCB05;
}

.color_6 {
    color: #727272;
}

.backcolor_6 {
    background-color: #727272;
}

.color_7 {
    color: #B0B0B0;
}

.backcolor_7 {
    background-color: #B0B0B0;
}

.color_8 {
    color: #FFFFFF;
}

.backcolor_8 {
    background-color: #FFFFFF;
}

.color_9 {
    color: #727272;
}

.backcolor_9 {
    background-color: #727272;
}

.color_10 {
    color: #B0B0B0;
}

.backcolor_10 {
    background-color: #B0B0B0;
}

.color_11 {
    color: #2F2E2E;
}

.backcolor_11 {
    background-color: #2F2E2E;
}

.color_12 {
    color: #605E5E;
}

.backcolor_12 {
    background-color: #605E5E;
}

.color_13 {
    color: #A0A09F;
}

.backcolor_13 {
    background-color: #A0A09F;
}

.color_14 {
    color: #B6B6B6;
}

.backcolor_14 {
    background-color: #B6B6B6;
}

.color_15 {
    color: #FFFFFF;
}

.backcolor_15 {
    background-color: #FFFFFF;
}

.color_16 {
    color: #234070;
}

.backcolor_16 {
    background-color: #234070;
}

.color_17 {
    color: #5274AC;
}

.backcolor_17 {
    background-color: #5274AC;
}

.color_18 {
    color: #ACD1E0;
}

.backcolor_18 {
    background-color: #ACD1E0;
}

.color_19 {
    color: #D6EAF3;
}

.backcolor_19 {
    background-color: #D6EAF3;
}

.color_20 {
    color: #E2F4FC;
}

.backcolor_20 {
    background-color: #E2F4FC;
}

.color_21 {
    color: #514409;
}

.backcolor_21 {
    background-color: #514409;
}

.color_22 {
    color: #A28712;
}

.backcolor_22 {
    background-color: #A28712;
}

.color_23 {
    color: #EBC52A;
}

.backcolor_23 {
    background-color: #EBC52A;
}

.color_24 {
    color: #F7E289;
}

.backcolor_24 {
    background-color: #F7E289;
}

.color_25 {
    color: #FBEDB0;
}

.backcolor_25 {
    background-color: #FBEDB0;
}

.color_26 {
    color: #400C12;
}

.backcolor_26 {
    background-color: #400C12;
}

.color_27 {
    color: #801824;
}

.backcolor_27 {
    background-color: #801824;
}

.color_28 {
    color: #BF2436;
}

.backcolor_28 {
    background-color: #BF2436;
}

.color_29 {
    color: #D47E88;
}

.backcolor_29 {
    background-color: #D47E88;
}

.color_30 {
    color: #EAABB2;
}

.backcolor_30 {
    background-color: #EAABB2;
}

.color_31 {
    color: #20433E;
}

.backcolor_31 {
    background-color: #20433E;
}

.color_32 {
    color: #40867D;
}

.backcolor_32 {
    background-color: #40867D;
}

.color_33 {
    color: #61C9BB;
}

.backcolor_33 {
    background-color: #61C9BB;
}

.color_34 {
    color: #A2DBD4;
}

.backcolor_34 {
    background-color: #A2DBD4;
}

.color_35 {
    color: #C4EDE8;
}

.backcolor_35 {
    background-color: #C4EDE8;
}